* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

#text-div h1 {
    display: inline;
    justify-self: center;
}

#score, #max-score  {
    display: inline;
}